[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click >= "7.1.2"
gym = "*"
numpy = "*"
matplotlib = "*"
torch = "*"
pillow = "*"
torchvision = "*"
ipython = "*"
pyglet >= "1.5.10"

[requires]
python_version = "3.8"
